<!DOCTYPE html>
<html>
<head>
  <title>Lease Manager</title>
  <link rel="stylesheet" type="text/css" href="/../styles/main.css">
  <link rel="stylesheet" type="text/css" href="/../styles/tables.css">
  <link rel="icon" href="../styles/favicon-16x16.png" />
</head>
<body>
    <nav class="container">
          <a href="/">Dashboard</a>
          <a href="/properties">Properties</a>
          <a href="/tenants">Tenants</a>
          <a href="/rentals">Leases</a>
    </nav>
    <%= yield %>
</body>
</html>
