<!DOCTYPE html>
<html>
<head>
  <title>Letting Agent</title>
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
  <!-- <link rel="stylesheet" type="text/css" href="../styles/tables.css"> -->
</head>
<body>
    <nav>
      <!-- <ul>
        <li> -->
          <a href="/">Home</a>
        <!-- </li>
        <li> -->
          <a href="/properties">Property Listings</a>
        <!-- </li>
        <li>
          <a href="/tenants">Manage Tenant Details</a>
        </li>
        <li> -->
          <a href="/rentals">Leased Properties</a>
        <!-- </li>
      </ul> -->
    </nav>
    <%= yield %>
</body>
</html>
