<!DOCTYPE html>
<html>

  <head>

    <title>Lease Manager</title>
    <link rel="stylesheet" type="text/css" href="/../styles/main.css">
    <link rel="stylesheet" type="text/css" href="/../styles/tables.css">
    <link rel="stylesheet" type="text/css" href="/../styles/buttons.css">

  </head>

  <body>

    <nav class="container">
        <a href="/">Dashboard</a>
        <a href="/properties">Properties</a>
        <a href="/tenants">Contacts</a>
        <a href="/rentals">Leases</a>
        <a href="/">Task Manager</a>
    </nav>

    <section class="content">
      <%= yield %>
    </section>

  </body>

</html>
