<!DOCTYPE html>
<html>
<head>
  <title>Lease Manager</title>
  <link rel="stylesheet" type="text/css" href="/../styles/main.css">
  <link rel="stylesheet" type="text/css" href="/../styles/tables.css">
</head>
<body>
    <nav class="container">
        <a class="logo" href="/"><img class="click" src="/../images/logo.png"></a>
        <a href="/properties">Properties</a>
        <a href="/tenants">Contacts</a>
        <a href="/rentals">Leases</a>
        <a href="">Task Manager</a>
    </nav>
    <%= yield %>
</body>
</html>
