<!DOCTYPE html>
<html>
<head>
  <title>Letting Agent</title>
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
  <link rel="stylesheet" type="text/css" href="../styles/tables.css">
</head>
<body>
    <nav>
      <!-- <ul>
        <li> -->
          <a href="/">Home</a>
        <!-- </li>
        <li> -->
          <a href="/properties">Properties</a>
        <!-- </li>
        <li> -->
          <a href="/tenants">Tenants</a>
        <!-- </li>
        <li> -->
          <a href="/rentals">Leases</a>
        <!-- </li>
      </ul> -->
    </nav>
    <%= yield %>
</body>
</html>
