<div class="form">
  <form action="/tenants" method="post">
    <p>
      <label for="first_name">First Name(s)</label>
      <input type="text" name="first_name" id="first_name">
    </p>
    <p>
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" id="last_name">
    </p>
    <p>
      <label for="contact_no">Contact No</label>
      <input type="text" name="contact_no" id="contact_no">
    </p>
    <p>
      <label for="email">Email</label>
      <input type="text" name="email" id="email">
    </p>
    <p>
      <input type="submit" value="Add New Tenant">
    </p>
  </form>
</div>
