<div class="form-container">
  <div class="form">

  <form action="/properties" method="post">

  <table>
    <tr>
      <th class="main" colspan="2">Create New Listing</th>
    </tr>
    <tr>
      <td>
        <label for="prop_name">Property Name:</label>
      </td>
      <td>
        <input type="text" name="prop_name" id="prop_name">
      </td>
    </tr>
    <tr>
      <td>
        <label for="prop_no">Property No:</label>
      </td>
      <td>
        <input type="text" name="prop_no" id="prop_no">
      </td>
    </tr>
    <tr>
      <td>
        <label for="street_name">Street Name:</label>
      </td>
      <td>
        <input type="text" name="street_name" id="street_name">
      </td>
    </tr>
    <tr>
      <td>
        <label for="town">Town:</label>
      </td>
      <td>
        <input type="text" name="town" id="town">
      </td>
    </tr>
    <tr>
      <td>
        <label for="postcode">Postcode:</label>
      </td>
      <td>
        <input type="text" name="postcode" id="postcode">
      </td>
    </tr>
    <tr>
      <td>
        <label for="prop_type">Property Type:</label>
      </td>
      <td>
        <label for="prop_type_selection">
        <select name ="prop_type" id="prop_type_selection">
          <option value="Bungalow">Bungalow</option>
          <option value="Detached">Detached</option>
          <option value="Semi-detached">Semi-detached</option>
          <option value="Terraced">Terraced</option>
          <option value="Flat/Apartment">Flat/Apartment</option>
          <option value="Maisonette">Maisonette</option>
          <option value="Townhouse">Townhouse</option>
        </select>
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <label for="bedrooms">Bedrooms:</label>
      </td>
      <td>
        <label for="bedrooms_selection">
        <select name="bedrooms" id="bedrooms_selection">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        </label>
      </td>
    </tr>
    <tr>
      <td>
          <label for="price_pcm">Price(pcm) £</label>
      </td>
      <td>
          <input type="text" name="price_pcm" id="price_pcm">
      </td>
    <tr>
    </table>
    <br>

  <div class="btn-wrapper">
    <input class="btn" type="submit" value="Add Listing">
  </div>

  </form>

  </div>
</div>
