.btn {
  background-color: #FB9039;
  border:5px solid #FB9039;
  border-radius: 5px;
  padding: 8px 12px;
  color: White;
  cursor:pointer;
  font-weight: bold;
  width: 150px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.btn:hover {
  background-color: White;
  border: 5px solid #FB9039;
  border-radius: 5px;
  color: #FB9039;
  font-weight: bold;
}

.btn--double {
  display: flex;
  justify-content: space-around;
}

.btn--wrapper {
  display: flex;
  justify-content: center;
}
