* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  width:100%;
  height:100%;
}

nav {
  background-color: #1F3044;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}

body {
  /* background-image: url("../images/background-brick.jpg"); */
  background-size: 100%;
  background-repeat: no-repeat;
  color: #646C79;
  font-family: Bahnschrift nameplate, Arial, sans-serif;
  font-weight: bold;
  margin: 0px;
}

a, a:link, a:visited {
  color: White;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #BFD641;
}

nav a {
  font-size: 18px;
  max-width: 20%;
  padding: 20px;
}

 img.listing {
  max-width:auto;
  max-height:8%;
}

a.show {
  color: #BFD641;
  font-weight: bold;
}

 .content {
   padding-top: 6em;
 }
