/* td, th {
  text-align: center;
  border: 1px solid White;
}

td {
  padding: 10px 20px 10px 20px;
}

th {
  padding: 10px 20px 10px 20px; */
  /* border: 1px solid White; */
 }

table.bg-white {
  /* border: 1px solid White;
  border-collapse: collapse; */
    /* background: White; */
    /* color: white; */
  }

/* td {
  max-width: 20%;
  height: auto;
} */

th {
  /* border: 2px solid Black; */
  text-align: center;
  background-color: #E08119;
  color: White;
  font-weight: bold;
}

th.main {
  background-color: #577284;
}

td {
  /* border: 2px solid Black; */
  text-align: center;
  background-color: White;
  color: Black;
  font-weight: normal;
}

td.column {
  text-align: left;
}

td.green {
  color: #BFD641;
  text-transform: uppercase;
  font-weight: bold;
}
