/* td, th {
  text-align: center;
  border: 1px solid White;
}

td {
  padding: 10px 20px 10px 20px;
}

th {
  padding: 10px 20px 10px 20px; */
  /* border: 1px solid White; */
 /* }

table {
  border: 1px solid White;
  border-collapse: collapse;
} */
