/* td, th {
  text-align: center;
  border: 1px solid White;
}
/*  */




  /* .table-container {
    display: flex;
    justify-content: center;
  } */

  /* table { */
    /* border: 1px solid White;
    border-collapse: collapse; */
      /* background: White; */
      /* color: white; */
      /* width: 900px;
      display: flex;
      justify-content: center;
    } */


/* td {
  max-width: 20%;
  height: auto;
} */

/* th { */
  /* border: 2px solid Black; */
  /* text-align: center;
  background-color: #E08119;
  color: White;
  font-weight: bold; */
/* } */

/* td { */
  /* border: 2px solid Black; */
  /* text-align: center;
  background-color: White;
  color: Black;
  font-weight: normal;
  width: 150px;
} */

/* td.column {
  text-align: left;
} */

/* td.green {
  color: #BFD641;
  text-transform: uppercase;
  font-weight: bold;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  margin: 10px;
  text-align: center;
}

.table-leased th {

}

/* th, td {
  width: 12vw;
} */

td {
  padding: 10px 10px 10px 10px;
  background-color: White;
  color: Black;
  font-weight: normal;
  /* width: 120px; */
}

/* background-color: #577284; */
th {
   padding: 10px 20px 10px 20px;
   background-color: #E08119;
   color: White;
   font-weight: bold;
}

th.main {
  background-color: #577284;
  height: 75px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #f5f5ef, #ebebe0);
}
