<h1>Leases</h1>

<ul>
  <% @rentals.each() { |rental| %>
  <li>
  <p><%=rental.property.street_name%> <%=rental.tenant.last_name%> <%= rental.rental_status%></p>
    <p>
      <form action="/rentals/<%=rental.id%> method="POST">
        <input type="submit" value="Terminate Tenancy"/>
      </form>
    </p>
  </li>
   <% } %>
</ul>

<p><a href="/rentals/new">Create Tenancy</a></p>
