<h1>Add New Lease</h1>

<form action="/rentals" method="post">

  <label>
  Select a property:
    <select name="prop_id">
      <% @properties.each() { |property| if property.prop_status == "listed"%>
      <option value="<%= property.id %>"><%= property.street_name %></option>
      <% end } %>
    </select>
  </label>

  <label>
    Select a tenant:
    <select name="tenant_id">
      <% @tenants.each() { |tenant| %>
      <option value="<%= tenant.id %>"><%= tenant.last_name %></option>
      <% } %>
    </select>
  </label>

  <input type='submit' value="Add New Lease">
</form>
